@font-face {
    font-family: 'Merienda', cursive;
    src: url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Merienda', cursive;
    font-size: 14px;
}

h1 {
    color: #fff;
    font-size: 2.85em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/


/*main*/

section{
    padding-top: 80px;
    padding-bottom: 110px;
}

.section-first{
    max-width: 590px;
    margin: 0 auto;
    text-align: center;
}

.section-first h2{
    margin-bottom: 20px;
}
.section-first picture{
    display: block;
    margin-bottom: 40px;
}
.section-second{
    text-align: center;
    background-image: url('../img/bg/sec_section-bg.png');
    background-position: center center;
    background-size: cover;
}

.section-second h2  {
    margin-bottom: 40px;
}


/*footer*/


